<html>
    <head>

    </head>
    <body>
        <div>
            <ul>
            {% for title, target, sub_navigation in sidebar recursive %}
                <li>
                    <a href="{{ target }}">{{ title }}</a>
                    {% if sub_navigation %}
                        <ul>
                            {{ loop(sub_navigation) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            {{ sidebar }}
        </div>
        <div>
            {{ content }}
        </div>
    </body>
</html>
